@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
    }

    .section__pic-container img {
        width: 100px;
        height: 100px;
    }

    .title {
        font-size: 1.5rem;
    }

    .btn-container .btn {
        padding: 0.4rem 0.8rem;
    }
}
